table{color: aqua; border-radius: 8px; border: 2px solid red;}
[href="https://www.youtube.com/watch?v=Y1s_WAxNCCw&ab_channel=licen777"] {color: aquamarine;}
[class="1"] {color: brown;}
#anchor {font-weight: bold;}
html tr {color: cornflowerblue;}
.font-size-md.color-red {color: red;}
